<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Actor Test</mp-link>
  </li>
  <li class="active">Actor test</li>
</ol>

<div class="page">
  <div class="page__body">
    
    <h1>Actor Graph Limit 100</h1>
    <semantic-graph query='CONSTRUCT WHERE {?Actor a <http://www.cidoc-crm.org/cidoc-crm/E39_Actor>} LIMIT 100'></semantic-graph>

    <h1> Actor Table Limit 100</h1>
      <semantic-table
      query="SELECT ?name  ?birth_date

WHERE {?actor a crm:E39_Actor;
              crm:P12i_was_present_at ?birth;
       		  crm:P1_is_identified_by ?appellation.
       ?appellation rdfs:label ?name.
       ?birth a crm:E67_Birth;
               crm:P4_has_time_span ?date.
        ?date a crm:E52_Time-Span;
                rdfs:label ?birth_date}">
      </semantic-table>    
  </div>
</div>


