<ol class="page-breadcrumb">
   <li class="active">Parthenos Simple Search </li>
</ol>

<div class="page">
  <div class='page__body'>
    <h1> Parthenos Simple Search </h1>
    <div class="documentation__intro">
      <div class="documentation__intro__description">
        Simple keyword search with autosuggestion.<br/>
        The search query is a fully customizable SPARQL query possibly including calls to external search indices such as Solr (depending on the availability) .
      </div>
      <div class="documentation__intro__demo" style="height:50px;width:400px;">
        <semantic-simple-search
  query='
   PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT ?resource ?label WHERE {
  FILTER(REGEX(?label, ?__token__, "i"))
  ?resource rdfs:label ?label.
}
LIMIT 10      
          '
          template= '<span style="color: blue;" title="{{uri.value}}">{{label.value}} ({{typelabel.value}})</span>'
          input-placeholder='Search for something e.g. "Bob"'
        >
        </semantic-simple-search>
      </div>
    </div>
    <div style="clear:both;"></div>

    <h2> Configuration </h2>

    <mp-documentation type="SemanticSimpleSearchConfig"></mp-documentation>


 
  </div>
</div>
