<div class="page">


<div class="page__body">
<h1>Parthenos Resource Discovery </h1>

<p>This is the start page for Parthenos Resource Discovery</p>

  [[> p:MaintypeOverview]]
  
 <div style="clear:both" />
  
<h2><semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/Search">Search</semantic-link></h2>
  
<p>
  <semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/SearchWithFields">Search with fields</semantic-link>  
  </p>
<h2><semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/Statistics">Statistics</semantic-link></h2>  

<h2><semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/Tests">Testing pages (experimental!)</semantic-link></h2>  
  
</div>


</div>