<div class="page">


<div class="page__body">
<h1>Matteo's Parthenos Resource Discovery </h1>

<p>This is the start page for Parthenos Resource Discovery</p>

<h2>Search</h2>
<semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/matteo/Search">Search</semantic-link>

<h2>Statistics</h2>
<semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/matteo/Statistics">Classes Overview</semantic-link>

<h2>Detail Pages</h2>
<semantic-link  iri="http://parthenos.d4science.org/handle/Clarin/VLO/11858/00-203Z-0000-002E-6A42-B">Example Dataset</semantic-link>    

<h2>Actor / birth date</h2>
<semantic-link  iri="https://parthenos.acdh-dev.oeaw.ac.at/resource/matteo:FieldVisualisation">Actor / birth date</semantic-link>  
  
<h2>Actor</h2>
<semantic-link  iri="http://www.cidoc-crm.org/cidoc-crm/E39_Actor">Actor</semantic-link> 
  

<h2>Actor / Institution</h2>
<semantic-link  iri="https://parthenos.acdh-dev.oeaw.ac.at/resource/matteo:resource">Actor / Institution</semantic-link>
   


<h2>Actor / E89</h2>
<semantic-link  iri="https://parthenos.acdh-dev.oeaw.ac.at/resource/matteo:propositional">Actor / E89</semantic-link>
   
</div>



</div>
