<div class="page">


<div class="page__body">
<h1>Parthenos Resource Discovery </h1>

<p>This is the start page for Parthenos Resource Discovery</p>

<h2>Search</h2>
<semantic-link  iri="https://parthenos.acdh-dev.oeaw.ac.at/resource/go:Search">Search</semantic-link>

<h2>Statistics</h2>
<semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/Statistics">Classes Overview</semantic-link>

<h2>Search outcome view</h2>
<semantic-link  iri="https://parthenos.acdh-dev.oeaw.ac.at/resource/go:Actor100">Actor Limit 100</semantic-link>
<h2>Detail Pages</h2>
<ul>
  <li><semantic-link  iri="http://parthenos.d4science.org/handle/Ariadne/AriadnePortal/Actor/Cesar%20Gonzalez-Perez">Cesar Gonzalez-Perez</semantic-link>    
  </li>
  <li><semantic-link  iri="http://parthenos.d4science.org/handle/Parthenos/REG/Actor/Parthenos%20Project%20Consortium">Parthenos Consortium [PE25_RI_Consortium]</semantic-link>    
  </li>
  <li>
  <semantic-link  iri="http://parthenos.d4science.org/handle/Clarin/VLO/11858/00-203Z-0000-002E-6A42-B">Example Dataset</semantic-link>    
  </li>
  </ul>
</div>