
<semantic-table 
  query="
     PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
prefix crmpe: <http://parthenos.d4science.org/CRMext/CRMpe.rdfs/>
select ?actor_label ?p ?team_label

where {?actor rdfs:subClassOf* ?type.
       ?type a crm:E39_Actor;
               rdfs:label ?actor_label;
 				^crm:P107_has_current_or_former_member ?team.
       ?team a crmpe:PE34_Team;
               rdfs:label ?team_label.}"
  column-configuration='[
  	{"variableName": "actor_label", "displayName": "Actor"}, 
  	{"variableName": "p", "displayName": "Predicate"},  
    {"variableName": "team_label", "displayName": "Team"}
  	
  ]'
></semantic-table>